/* COSC212 2018
 * Assignment 1
 * Anaru Hudson 6684480
 */

/* General */
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.25;
}

header{
    height: 12vh;
}

h1{
    text-align: center;
}

footer{
    height: 8vh;
    color: black;
    background-color: #0b98de;
}

footer p{
    margin: 0;
    padding-top: 1rem;
    width: 100%;
    text-align: center;
}

/* Columns for somewhat responsive design */
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
    margin-left: 25%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

/**********
 * Navigation *
 **********/
nav{
    width: 100%;
    height: 100%;
    color: black;
    background-color: #0b98de;
}

nav a{
    display: block;
    float: right;
    font-size: 1.2rem;
    height: 100%;
    width: 25%;
    text-align: center;
    color: black;
    padding-top: 2.4rem;
    padding-right: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 0.625rem;
    text-decoration: none;
}

@media only screen and (max-width: 425px) {
    nav a{
        font-size: 0.8rem;
        padding-top: 2.4rem;
    }
}

nav a:hover{
    color: inherit;
    background-color: #17b0cf;
}

.showHide{
    float: left;
}

/**********
 * Tables *
 **********/
table {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5rem;
    margin: .5rem 0 .75rem;
    text-align: center;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35rem;
    width: 100%;
}

table th,
table td {
    padding: .625rem;
    text-align: center;
}

table th {
    font-size: .85rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

tbody{
    display: block;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

tbody {
    /*height: 35rem;*/
    overflow-y: auto;
    overflow-x: hidden;
}

@media only screen and (max-width: 425px) {
    table th, table td{
        font-size: 0.75rem;
    }

    table caption{
        font-size: 1rem;
    }

    tbody{
        height: 10rem;
    }

    #available input{
        font-size: 0.75rem;
    }
}

@media only screen and (min-height: 900px) {
    tbody{
        height: 30rem;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media only screen and (max-height: 900px) {
    tbody{
        height: 25rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #room-type-all tbody, #rooms-all tbody{
        height: 12rem !important;
    }
}

@media only screen and (max-height: 800px) {
    nav a{
        padding-top: 2rem;
    }

    tbody{
        height: 20rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #room-type-all tbody, #rooms-all tbody{
        height: 10rem !important;
    }
}

@media only screen and (max-height: 700px) {
    nav a{
        padding-top: 1.6rem;
    }

    tbody{
        height: 15rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #room-type-all tbody, #rooms-all tbody{
        height: 8rem !important;
    }
}

@media only screen and (max-height: 600px) {
    nav a{
        padding-top: 1rem;
    }

    tbody{
        height: 10rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #room-type-all tbody, #rooms-all tbody{
        height: 6rem !important;
    }
}

/* wrapper div*/
#wrapper {
    position: relative;
    height: 80vh;
}

/* Display map */
#map{
    align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    display: none;
}

.pop-up-title{
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
}

.pop-up-content{
    text-align: center;
}

/* Display search form*/
#other{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    position: absolute;
}

#other p{
    text-align: center;
}
/* Display available rooms */
#available{
    display:none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    position: absolute;
}

#available p {
    text-align: center;
}

.book-button{
    width: 65%;
    font-size: 1rem;
}

@media only screen and (max-width: 425px) {
    #available input{
        font-size: 0.75rem;
    }
}

/* Forms */
.input {
    width: 65%;
    padding: 12px 20px;
    margin-top: 0.5rem;
    margin-left: 20%;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.label{
    font-size: 1.5rem;
    display: inline-block;
    width: 60%;
    margin-left: 20%;
}

input[type=button]{
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: #0b98de;
}

input[type=button]:hover{
    color: inherit;
    background-color: #17b0cf;
}

input{
    border: 1px solid grey;
}

input{
   border: 1px solid darkgray;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

@media only screen and (max-width: 600px) {
    .input{
        font-size: 1rem;
    }
    .label {
        font-size: 1.3rem;
    }

}

#errors{
    margin-left: 20%;
    margin-top: 3rem;
    width: 60%;
    text-align: center;
    border: 2px solid red;
    border-radius: 8px;
    display: none;
}

#errors p{
    font-weight: bolder;
}

#errors ul{
    padding: 0;
    list-style: none;
    line-height: 1.4rem;
}

@media only screen and (max-width: 992px) {
    #errors{
        font-size: 0.9rem;
    }

    #errors ul{
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 768px) {
    #errors{
        font-size: 0.7rem;
    }

    #errors ul{
        font-size: 0.7rem;
    }
}

/* Popup Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid gray;
    width: 80%;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 1.8rem;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-errors{
    margin-left: 20%;
    margin-top: 3rem;
    width: 60%;
    text-align: center;
    border: 2px solid red;
    border-radius: 8px;
    display: none;
}

#modal-errors p{
    font-weight: bolder;
}

#modal-errors ul{
    padding: 0;
    list-style: none;
    line-height: 1.4rem;
}

#show-bookings p{
    text-align: center;
}
